:root {
    --primary-color: #14161a;
    --secondary-color: #D3D3D3;
    --tertiary-color: #FFD700;
}

body {
    
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--tertiary-color);
    filter: grayscale(60%);
}

p {
    margin: 1%;
}

h2 {
    margin: 2%;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    opacity: 0.9;
    background-color: var(--primary-color);
    z-index: 1;
}

header h1 {
    display: inline-block;
    margin-left: 1%;
}

header nav {
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
    font-size: 1.25em;
}

.hero {
    width: 100%;
    height: 800px;
    margin-bottom: 2%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/foggy-forest.jpg");
    background-size: cover;
    background-position: center;
}
/* Creates a flex-container */
.container {
    display: flex;
    flex-wrap: wrap;
}
/* Background-image for main project */
.horiseon {
    display: flex;
    border: 1px solid white;
    height: 600px;
    background-size: 100%;
    background-image: url(../images/horiseon-seo-project.png);
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 100%;
}
/* Background-image for secondary projects */
.timer {
    display: flex;
    height: 400px;
    background-size: 120%;
    background-image: url(../images/timer-app.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    flex: 1 0 33.33%;
}
/* Background-image for secondary projects */
.twitter {
    border: 1px solid white;
    display: flex;
    height: 400px;
    background-size: 110%;
    background-image: url(../images/twitter-clone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 33.33%;
}
/* Background-image for secondary projects */
.weather {
    border: 1px solid white;
    display: flex;
    height: 400px;
    background-size: 120%;
    background-image: url(../images/weather-app.jpg);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 33.33%;
}

.project-label {
    display: block;
    font-size: 1.25em;
    background-color: slategray;
    opacity: 0.8;
    width: fit-content;
    height: fit-content;
    padding: 0px 5px 5px 5px;
    margin: auto 0;
}
/* Larger display for main project */
.flex-item-main {
    flex: 100%;
    max-width: 100%;
}

.flex-item {
    flex: 33.33%;
    max-width: 33.33%;
}

footer {
    color: white;
    width: 100%;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer ul li {
    padding: 10px;
}

.contact {
    border: 1px solid white;
}
/* Responsive design for tablets */
@media screen and (max-width: 980px) {
    header nav {
        float: none;
    }

    header nav ul {
        display: inline-block;
        padding-left: 0px;
        margin: 0px;
    }

    .hero {
        height: 600px;
    }

    h1, h2 {
        text-align: center;
    }

    h2 {
        margin-top: 2%;
    }

    .flex-item {
        flex: 100%;
        max-width: 50%;
    }
}
/* Responsive design for mobile devices */
@media screen and (max-width: 768px) {
    header {
        font-size: 0.8em;
    }

    header nav {
        float: none;
    }

    header nav ul {
        display: inline-block;
        padding-left: 0px;
        margin: 0px;
    }

    .hero {
        height: 400px;
    }

    h1, h2 {
        text-align: center;
    }

    h2 {
        margin-top: 3%;
    }
/* Secondary projects take up full width */
    .flex-item {
        flex: 100%;
        max-width: 100%;
    }

    .contact ul {
        padding: 0px;
    }
}