:root {
    --deep-blue: #14161a;
}

body {
    /* box-sizing: border-box; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: var(--deep-blue);
    color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/foggy-forest.jpg");
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    opacity: 0.9;
    background-color: var(--deep-blue);
    z-index: 1;
}

header h1 {
    display: inline-block;
    margin-left: 1%;
}

header nav {
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin: 1%;
}

h2 {
    margin: 2%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    color: white;
    width: 100%;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer ul li {
    padding: 10px;
}

.contact {
    border: 1px solid white;
}

a:hover {
    color: gold;
    filter: grayscale(50%);
}

section {
    width: 100%;
}

.horiseon {
    display: flex;
    border: 1px solid white;
    height: 600px;
    background-size: 100%;
    background-image: url(../images/horiseon-seo-project.png);
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 100%;
}

.timer {
    display: flex;
    height: 400px;
    background-size: 110%;
    background-image: url(../images/timer-app.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    flex: 1 0 33.33%;
}

.twitter {
    border: 1px solid white;
    display: flex;
    height: 400px;
    background-size: 100%;
    background-image: url(../images/twitter-clone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 33.33%;
}

.weather {
    border: 1px solid white;
    display: flex;
    height: 400px;
    background-size: 100%;
    background-image: url(../images/weather-app.jpg);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 33.33%;
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.header {
    display: block;
    font-size: 1.25em;
    background-color: slategray;
    opacity: 0.8;
    width: fit-content;
    height: fit-content;
    padding: 0px 5px 5px 5px;
}

.column-special {
    flex: 100%;
    max-width: 100%;
}

.column {
    flex: 33%;
    max-width: 33%;
}

@media screen and (max-width: 980px) {
    header nav {
        float: none;
    }

    header nav ul {
        display: inline-block;
        padding-left: 0px;
        margin: 0px;
    }

    .hero {
        height: 600px;
    }

    h1, h2 {
        text-align: center;
    }

    h2 {
        margin-top: 2%;
    }

    .column {
        flex: 100%;
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    header nav {
        float: none;
    }

    header nav ul {
        display: inline-block;
        padding-left: 0px;
        margin: 0px;
    }

    .hero {
        height: 400px;
    }

    h1, h2 {
        text-align: center;
    }

    h2 {
        margin-top: 3%;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }
}